.ContenedorProductos {
    height: 800px;
    width: 60vw;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Titulo {
    background-color: lightpink;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Categorias {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(142, 156, 161);
}

.Categorias span {
  font-size: 1.5rem;
  padding: 20px;
}
.Filtros {
    height: 10vh;
    display: flex;
    align-items: flex-end;
    padding: 10px 20px;
    background-color: whitesmoke;
}

.Filtros select {
    height: 50px;
    width: 120px;
}
.Filtros select:focus {
  height: 50px;
  width: 170px;
  font-size: 1rem;
}

.CategoriasElegidas {
  width: 100%;
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.ContenedorCards {
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

/*	SCROLL BAR	*/

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }